.footer-link {
  color: #40514E;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  background-color: #EDEDED;
}

.btn {
  background: #3498db;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0
}

.btn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #50577A;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.header {
  color: #50577A;
}

.profile {
  line-height: 2;
  text-align: center;
  width: 80%;
  margin: auto;
}

hr {
  border: dotted 8px;
  border-bottom: none;
  color: #B4CDE6;
  background-color: transparent;
  margin: 50px auto 10px;
  width: 5%;
}

.skill-java {
  width: 25%;
  margin-right: 30px;
  float: left;
  margin-top: 50px;
}

.skill-JavaScript {
  width: 25%;
  margin-left: 30px;
  float: right;
  margin-top: 50px;
}

.round-pic {
  margin-top: 35px;
  border-radius: 100%;
}

.skill-row-java {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: justify;
  line-height: 2;
}

.skill-row-JavaScript {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: justify;
  line-height: 2;
}

.top-container {
  background-color: #B9E0FF;
  position: relative;
  padding-top: 150px;
}

.middle-container {
  position: relative;
}

.bottom-container {
  padding: 30px 0 10px 0;
  background-color: #B9E0FF;
  margin-top: 70px;
}

.copyright {
  margin: 50px auto 5px auto;
  font-size: 0.75rem;
  color: #EAF6F6
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 200px;
  height: 200px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 2px;
  height: 200px
}
